body {
     font-family: "Roboto", sans-serif;
     background-color: #FFFFFF;
     color: #434455;
}
a {
     text-decoration: none;
}
ul {
     list-style-type: none;
}
.header-logo-web {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #2e2f42;
}   
.header-logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
}
.main-values {
     display: none;
}
.header-menu-link,
.header-menu-item {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
}
.header-menu-link:hover {
     color: #404bbf; 
 }
.header-menu-link:focus {
     color: #404bbf;
 }
.address {
     font-style: normal;
     font-size: 0;
}
.address-item {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
     font-style: normal;
}
.address-link {
     color: #434455;
}
.address-link:hover {
     color: #404bbf
}
.address-link:focus {
     color: #404bbf 
}
.main-section-h {
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
     letter-spacing: 0.02em;
     text-align: center;
     color: #fff;
}
.main-section {
     background: #2E2F42;
     font-size: 0;
}
.main-section-button {
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #fff;
     background: #4d5ae5;
     cursor: pointer;
}
.main-section-button:hover {
     background-color: #404BBF;
}
.main-section-button:focus {
     background-color: #404BBF;
}
.main-values-item {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
}
.main-values-item-description{
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
}
.section-team {
     background-color: #F4F4FD;
}
.main-team-list {
     background: #FFFFFF;
}
.main-team {
     font-weight: 700;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     font-size: 36px;
     text-transform: capitalize;
}
.main-team-name{
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
}
.main-team-name-description {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
}
.main-portfolio {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     text-transform: capitalize;
}
.main-portfolio-function {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
}
.main-portfolio-function-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
}
.footer {
     background-color: #2E2F42;
}
.footer-logo-web {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #f4f4fd;
}
.footer-logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
}
.footer-text {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
}